
$spacing-sizes: (
  '': $spacing-primary,
  '--sec': $spacing-secondary,
  '--ter': $spacing-tertiary,
  '--qua': $spacing-quaternary,
  '--qui': $spacing-quinary,
  '--sen': $spacing-senary,
  '--rst': 0
);

$pad: pd;
$marg: mg;


@each $spacing-size-name, $spacing-size-val in $spacing-sizes {

  .#{$pad}#{$spacing-size-name} {
    padding: $spacing-size-val $imp;
  }

  .#{$pad}t#{$spacing-size-name} {
    padding-top: $spacing-size-val $imp;
  }

  .#{$pad}r#{$spacing-size-name} {
    padding-right: $spacing-size-val $imp;
  }

  .#{$pad}b#{$spacing-size-name} {
    padding-bottom: $spacing-size-val $imp;
  }

  .#{$pad}l#{$spacing-size-name} {
    padding-left: $spacing-size-val $imp;
  }

  .#{$marg}#{$spacing-size-name} {
    margin: $spacing-size-val $imp;
  }

  .#{$marg}t#{$spacing-size-name} {
    margin-top: $spacing-size-val $imp;
  }

  .#{$marg}r#{$spacing-size-name} {
    margin-right: $spacing-size-val $imp;
  }

  .#{$marg}b#{$spacing-size-name} {
    margin-bottom: $spacing-size-val $imp;
  }

  .#{$marg}l#{$spacing-size-name} {
    margin-left: $spacing-size-val $imp;
  }

}
