
// -------------------------------------------------------------------------- //

$font-main: 'Ubuntu', sans-serif !default;


$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-thick: 700 !default;
$font-weight-ultra: 900 !default;


$font-size-giga: 8.5 !default;
$font-size-mega: 6 !default;
$font-size-kilo: 4.8 !default;

$font-size-h1: 7 !default;
$font-size-h2: 6 !default;
$font-size-h3: 5 !default;
$font-size-h4: 4 !default;
$font-size-h5: 3 !default;
$font-size-h6: 2 !default;

$font-size-primary: 1.4 !default;
$font-size-secondary: 1.2 !default;
$font-size-tertiary: 1.6 !default;
$font-size-milli: 1 !default;
$font-size-micro: .8 !default;


$font-size-icon: 2 !default;


$line-height: 1 !default;



// -------------------------------------------------------------------------- //

$spacing-primary: 8px !default;
$spacing-secondary: 16px !default;
$spacing-tertiary: 24px !default;
$spacing-quaternary: 32px !default;
$spacing-quinary: 4px !default;
$spacing-senary: 2px !default;
$spacing-septenary: 50px !default;
$spacing-octonary: 20px !default;
$spacing-nonary: 11px !default;
$spacing-denary: 40px !default;


// -------------------------------------------------------------------------- //


$screen-size-mobile: 426px !default;
$screen-size-lap: 840px !default;
$screen-size-desktop: 1200px !default;
$screen-size-wide: 1900px !default;



// -------------------------------------------------------------------------- //




$columns: 12 !default;
$row-primary: $screen-size-wide !default;
$row-secondary: $screen-size-lap !default;
$row-tertiary: $screen-size-desktop !default;



// -------------------------------------------------------------------------- //

$imp: !important !default;

