
::selection {
  background: $colour-black;
  color: $colour-white-text;
}

::-moz-selection {
  background: $colour-black;
  color: $colour-white-text;
}


html {
  background: $colour-grey-50;
  color: $colour-black-text;
  font-family: $font-main;
  font-size: 62.5%;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &.landing { height: 100%; }

  &.no-webp {
    body { background-image: url('../img/hero/zensation-hero-2.jpg'); }
  }
}


body {
  @include font-size(1.6);
  @include webp('hero/zensation-hero-2', 'jpg');
  font-family: $font-main;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height;

  .landing & {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 48px;

    &:after {
      @include transition(all, .5);
      background: rgba(0, 0, 0, .2);
      bottom: 0;
      content: '';
      left: 0;
      position: fixed;
      right: 0;
      top: 0;

    }
  }

}


main {

  .landing & {
    // @extend %flexbox;
    display: flex;
    height: 100%;
  }

  &.ng-enter { @include animation(fadein, .0); }
  &.ng-leave { @include animation(fadeout, .2); }

}

