

p {
  line-height: 35px;

  &.lead {
    @include font-size($font-size-h5);
    line-height: 39px;
  }


}

.small {
  @include font-size($font-size-secondary);
}

.large {
  @include font-size($font-size-tertiary);
}

.milli {
  @include font-size($font-size-milli);
}

.micro {
  @include font-size($font-size-micro);
}
