
$row-sizes: (
  '': 100%,
  '--wide': $row-primary,
  '--dense': $row-secondary,
  '--mid': $row-tertiary
);


@each $row-name, $row-prop in $row-sizes {
  .row#{$row-name} {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: #{$row-prop};
    padding: $spacing-secondary;
    width: 100%;
  }

  .matrix#{$row-name} {
    margin-left: auto;
    margin-right: auto;
    max-width: #{$row-prop};
    width: 100%;
  }
}

.matrix--has-mg {
  margin-bottom: $spacing-secondary;

  &--large { margin-bottom: $spacing-quaternary; }
}


.matrix,
.row {
  &--push-pull {

    .flexbox & {
      display: flex;
      flex-wrap: wrap;

      &--palm {
        @include media(handhelds) {
          display: flex;
        }
      }

      &--lap {
        @include media(lap, min) {
          display: flex;
        }
      }

      &--desktop {
        @include media(desktop, min) {
          display: flex;
        }
      }

      &--wide {
        @include media(wide, min) {
          display: flex;
        }
      }

    }

    .no-flexbox & {

      &--palm {
        @extend %clearfix;
      }

      &--lap {
        @extend %clearfix;
      }

      &--desktop {
        @extend %clearfix;
      }

      &--wide {
        @extend %clearfix;
      }

    }

  }

  &.flex--wrap {
    flex-wrap: wrap;
  }

}




