

.bold,
b { font-weight: 700; }

.light { font-weight: $font-weight-light; }


.italic,
i { font-style: italic; }

.link,
a {
  color: $colour-blue-a400;
  outline: none;

  &.tdn { text-decoration: none; }
}

.uppercase {
  text-transform: uppercase;
}
