

%unselectable {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


%apearamce {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}


%flexbox {
  .flexbox & {
    display: flex;
  }
}

