
footer {
  background: $colour-black-500;
  bottom: 0;
  padding: $spacing-secondary;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 9;

  a,
  span {
    @include font-size($font-size-milli);
    color: $colour-white-text;
    font-weight: $font-weight-light;
    margin: 0;
    padding: 0;
  }
}
