
.landing-section {
  align-self: center;
  color: $colour-white-text;
  position: relative;
  width: 100%;
  z-index: 9;


  &__social {
    @include transition(color, .5);
    @include font-size($font-size-icon);
    display: inline-block;
    padding: $spacing-secondary;
    text-decoration: none;

    &:hover { color: $colour-blue-a700; }

    & + & { margin-left: $spacing-primary; }
  }
}
